<div class="u-list u-repeater u-list-1">
    <div 
        *ngFor="let user of users"
        class="u-container-style u-list-item u-opacity u-opacity-75 u-palette-5-dark-3 u-repeater-item u-list-item-1"
    >
        <div class="u-container-layout u-similar-container u-valign-bottom-xl u-container-layout-1">
            <div
                class="u-icon u-icon-circle u-palette-3-base u-spacing-15 u-text-black u-icon-1"
                routerLink="/user/{{user.uid}}"
            >
                <span class="u-icon-2">`
                    <img src="https://img.icons8.com/emoji/48/000000/man-shrugging.png"/>
                    <img  src="https://img.icons8.com/emoji/48/000000/person-shrugging.png"/>
                    <img src="https://img.icons8.com/emoji/48/000000/woman-shrugging.png"/>
                </span>
            </div>
            
            <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout u-container-layout-2">
                    <h5 
                        class="u-text u-text-1"
                    >
                        <a routerLink="/user/{{user.uid}}">{{user.name}}</a>
                        
                    </h5>
                    <div>Date: {{user.created}}</div>
                </div>
            </div>
        </div>
    </div>
</div>